<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="/stylesheets/listStyle.css">
    <link rel="shortcut icon" type="image/ico" href="images/favicon.ico">

    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.3/js/materialize.min.js"></script>

    <title>To-Do List</title>
</head>
<style>
    td,
    th {
        text-align: center;
    }
</style>

<body>
    <div class="container">
        <div class="section" id="archiveList">
            <h1>Archive</h1>
            <div class="row">
                <a class="btn waves-effect waves-light" href="/list">
                    <i class="material-icons left">arrow_back</i>
                    Return to Assignments
                </a>
            </div>

            <ul id="sort-dropdown" class="dropdown-content">
                <li><a href="">Priority</a></li>
                <li><a href="">Finish By</a></li>
                <li><a href="">Due Date</a></li>
            </ul>


            <div class="section" id="assignmentTable">
                <table>
                    <thead>
                        <tr>
                            <th>Assignment</th>
                            <th>Subject</th>
                            <th>Priority</th>
                            <th>Finish By</th>
                            <th>Due Date</th>
                            <td>
                                <a class="btn-small dropdown-button" href="" data-activates="sort-dropdown">
                                    <i class="material-icons right">expand_more</i>
                                    Sort By
                                </a>
                            </td>
                        </tr>
                    </thead>
                    <tbody>
                        <% for (let i=0; i < inventory.length; i++){ %>
                            <tr>
                                <td>
                                    <%=inventory[i].title%>
                                </td>
                                <td>
                                    <%=inventory[i].subject%>
                                </td>
                                <td>
                                    <%=inventory[i].priority%>
                                </td>
                                <td>
                                    <%= moment(inventory[i].finish_by).format("MM/DD/YYYY") %>
                                </td>
                                <td>
                                    <%= moment(inventory[i].due_date).format("MM/DD/YYYY") %>
                                </td>
                                </td>
                                <td>
                                    <a class="btn-small waves-effect waves-light orange" href=<%="/list/item/" +
                                        inventory[i].id + "/unarchive" %>>
                                        <i class="material-icons right">unarchive</i>
                                        Un-archive
                                    </a>
                                    <a class="btn-small waves-effect waves-light red" href=<%="/list/item/" +
                                        inventory[i].id + "/delete/archive" %>>
                                        <i class="material-icons">delete</i>
                                    </a>
                                </td>
                            </tr>
                            <% } %>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</body>

</html>