<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="/stylesheets/listStyle.css">
    <link rel="shortcut icon" type="image/ico" href="../images/favicon.ico">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

    <title>Assignment</title>
</head>

<body>
    <!-- Nav bar -->
    <header>
        <nav>
            <div class="nav-wrapper teal lighten-1">
                <%if (isLoggedIn){ %>
                    <a href="/" class="brand-logo"><%=user.name%>'s To-Do Manager</a>
                <%} else {%>
                    <a href="/" class="brand-logo">To-Do Manager</a>
                <%}%>
                <a href="#" data-target="mobile-nav" class="sidenav-trigger"><i class="material-icons">menu</i></a>
                <!-- Main nav, hidden for small screens -->
                <ul id="desktop-nav" class="right hide-on-med-and-down">
                    <li><a href="/"><i class="material-icons left">home</i>Home</a></li>
                    <li><a href="/list"><i class="material-icons left">list</i>To-Do List</a></li>
                    <li><a href="/archive"><i class="material-icons left">archive</i>Archive</a></li>
                    <% if(isLoggedIn) { %>
                        <li><a href="/logout" class="btn red">Logout</a></li>
                    <%} else {%>
                        <li><a href="/login" class="btn blue">Login</a></li>
                    <%}%>
                </ul>
            </div>
        </nav>
        <!-- Mobile nav menu, shown when menu button clicked -->
        <ul id="mobile-nav" class="sidenav">
            <li><a href="/"><i class="material-icons left">home</i>Home</a></li>
            <li><a href="/list"><i class="material-icons left">list</i>To-Do List</a></li>
            <li><a href="/archive"><i class="material-icons left">archive</i>Archive</a></li>
            <% if(isLoggedIn) { %>
                <li><a href="/logout" class="btn red">Logout</a></li>
            <%} else {%>
                <li><a href="/login" class="btn blue">Login</a></li>
            <%}%>
        </ul>
    </header>

    <div class="container">
        <div class="section" title="header">
            <h1>Assignment Details</h1>
            <a class="btn waves-effect waves-light" href="/list">
                <i class="material-icons left">arrow_back</i>
                Return to Assignments
            </a>

        </div>
        <div class="section" title="assignment_info">
            <form method="post" action=<%="/list/item/" + item.id + "/update" %>>
                <div class="row">
                    <div class="input-field col s6">
                        <input id="titleInput" name="title" type="text" class="validate" value="<%=item.title%>" required>
                        <label for="titleInput">Assignment Title</label>
                    </div>
                    <div class="input-field col s6">
                        <input id="subjectInput" name="subject" type="text" class="validate" value="<%=item.subject%>"">
                        <label for="subjectInput">Subject</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s2">
                        <input id="priorityInput" name="priority" type="number" class="validate" min="0"
                            value=<%=item.priority%>>
                        <label for="priorityInput">Priority</label>
                    </div>
                    <div class="input-field col s5">
                        <input id="finishInput" name="finish" type="date" class="datepicker"
                            value=<%=item.finish_by%>>
                        <label for="finishInput">Finish By</label>
                    </div>
                    <div class="input-field col s5">
                        <input id="dueInput" name="due" type="date" class="datepicker"
                            value=<%=item.due_date%>>
                        <label for="dueInput">Due Date</label>
                    </div>
                    <div class="input-field col s12">
                        <input id="descriptionInput" name="description" type="text" class="validate"
                            value="<%=item.description%>">
                        <label for="dueInput">Description</label>
                    </div>
                </div>
                <div class="row">
                    <button class="btn waves-effect waves-light" type="submit">
                        <i class="material-icons right">check</i>
                        Submit Changes
                    </button>
                </div>

            </form>
        </div>
    </div>
</body>

</html>