<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="/stylesheets/listStyle.css">
    <link rel="shortcut icon" type="image/ico" href="images/favicon.ico">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

    <title>To-Do List</title>
</head>
<style>
    th,
    td {
        text-align: center;
    }
</style>

<body>
    <!-- Nav bar -->
    <header>
        <nav>
            <div class="nav-wrapper teal lighten-1">
                <%if (isLoggedIn){ %>
                    <a href="/" class="brand-logo"><%=user.name%>'s To-Do Manager</a>
                <%} else {%>
                    <a href="/" class="brand-logo">To-Do Manager</a>
                <%}%>
                <a href="#" data-target="mobile-nav" class="sidenav-trigger"><i class="material-icons">menu</i></a>
                <!-- Main nav, hidden for small screens -->
                <ul id="desktop-nav" class="right hide-on-med-and-down">
                    <li><a href="/"><i class="material-icons left">home</i>Home</a></li>
                    <li><a href="/list"><i class="material-icons left">list</i>To-Do List</a></li>
                    <li><a href="/archive"><i class="material-icons left">archive</i>Archive</a></li>
                    <% if(isLoggedIn) { %>
                        <li><a href="/logout" class="btn red">Logout</a></li>
                    <%} else {%>
                        <li><a href="/login" class="btn blue">Login</a></li>
                    <%}%>
                </ul>
            </div>
        </nav>
        <!-- Mobile nav menu, shown when menu button clicked -->
        <ul id="mobile-nav" class="sidenav">
            <li><a href="/"><i class="material-icons left">home</i>Home</a></li>
            <li><a href="/list"><i class="material-icons left">list</i>To-Do List</a></li>
            <li><a href="/archive"><i class="material-icons left">archive</i>Archive</a></li>
            <% if(isLoggedIn) { %>
                <li><a href="/logout" class="btn red">Logout</a></li>
            <%} else {%>
                <li><a href="/login" class="btn blue">Login</a></li>
            <%}%>
        </ul>
    </header>

    <div class="container">
        <div class="section" id="assignmentList">
            <h1>To-Do List</h1>
            <div class="row">
                <a class="btn waves-effect waves-light" href="/archive">
                    <i class="material-icons right">arrow_forward</i>
                    Go To Archive
                </a>
            </div>

            <ul id="sort-dropdown" class="dropdown-content">
                <li><a href="">Priority</a></li>
                <li><a href="">Finish By</a></li>
                <li><a href="">Due Date</a></li>
            </ul>


            <div class="section" id="assignmentTable">
                <table>
                    <thead>
                        <tr>
                            <!-- <th>Do Today</th> -->
                            <th>Assignment</th>
                            <th>Subject</th>
                            <th>Priority</th>
                            <th>Finish By</th>
                            <th>Due Date</th>
                            <!-- <td text-align="right">
                                <a class="btn-small dropdown-button" href="" data-activates="sort-dropdown">
                                    <i class="material-icons right">expand_more</i>
                                    Sort By
                                </a>
                            </td> -->
                        </tr>
                    </thead>
                    <tbody>
                        <% for (let i=0; i < inventory.length; i++) { %>
                            <tr>
                                <!-- <td>
                                    <label>
                                        <input type="checkbox" class="filled-in" />
                                        <span></span>
                                    </label>
                                </td> -->
                                <td>
                                    <%=inventory[i].title%>
                                </td>
                                <td>
                                    <%=inventory[i].subject%>
                                </td>
                                <td>
                                    <%=inventory[i].priority%>
                                <td>
                                    <%= moment(inventory[i].finish_by).format("MM/DD/YYYY") %>
                                </td>
                                <td>
                                    <%= moment(inventory[i].due_date).format("MM/DD/YYYY") %>
                                </td>
                                <td>
                                    <a class="btn-small waves-effect waves-light blue" href=<%="/list/item/" +
                                        inventory[i].id %>>
                                        <i class="material-icons right">edit</i>
                                        Info/Edit
                                    </a>
                                    <!-- <a class="btn-small waves-effect waves-light green" href="/list>
                                        <i class="material-icons right">done</i>
                                        Done
                                    </a> -->
                                    <a class="btn-small waves-effect waves-light orange" href=<%="/list/item/" +
                                        inventory[i].id + "/archive" %>>
                                        <i class="material-icons right">archive</i>
                                        Archive
                                    </a>
                                    <a class="btn-small waves-effect waves-light red" href=<%="/list/item/" +
                                        inventory[i].id + "/delete" %>>
                                        <i class=" material-icons">delete</i>
                                    </a>
                                </td>
                            </tr>
                            <% } %>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="section" id="assignmentAdd">
            <h1>Add a new assignment!</h1>
            <form method="post" action="/list">
                <div class="row">
                    <div class="input-field col s6">
                        <input id="titleInput" name="title" type="text" class="validate" required>
                        <label for="titleInput">Assignment Title</label>
                    </div>
                    <div class="input-field col s6">
                        <input id="subjectInput" name="subject" type="text" class="validate">
                        <label for="subjectInput">Subject</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s2">
                        <input id="priorityInput" name="priority" type="number" class="validate" min="0">
                        <label for="priorityInput">Priority</label>
                    </div>
                    <div class="input-field col s5">
                        <input id="finishInput" name="finish" type="date" class="datepicker">
                        <label for="finishInput">Finish By</label>
                    </div>
                    <div class="input-field col s5">
                        <input id="dueInput" name="due" type="date" class="datepicker">
                        <label for="dueInput">Due Date</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <input id="descriptionInput" name="description" type="text">
                        <label for="descriptionInput">Description</label>
                    </div>
                </div>
                <button class="btn waves-effect waves-light" type="submit">
                    <i class="material-icons right">send</i>
                    Submit
                </button>
            </form>
        </div>
    </div>
</body>

</html>